

.wrapper {
    width: 500px;
    text-align: center;
    margin: 0 auto;
    position: relative;
    .taskForm {
        input {
            width: 70%;
            height: 34px;
            border: 1px solid silver;
            outline: none;
            padding-left: 10px;
        }
        .inputError {
            border: 1px solid red;
        }
        .btn {
            height:37px;

        }
    }



    .totalUsers {
        background: #19ff53;
        display: block;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        margin: 10px auto;
        display: flex;
        color: #fff;
        font-size: 40px;
        align-items: center;
        justify-content: center;
    }
}

.error {
    display: block;
    width: 80px;
    height: 80px;
    background: darkorchid;
    border-radius: 50%;
    position: absolute;
    color: #fff;
    left: calc(50% - 40px);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

